.auction-popup {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: #fff;
  display: none;
  z-index: 10000;
}
.auction-popup.active-auction {
  display: block;
}
.auction-popup .auction-card-info {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 300px;
}
.auction-popup .auction-card-info .card-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #fff;
  color: #000;
}
.auction-popup .auction-card-info .card-info .show-money {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;
}
.auction-popup .auction-card-info .card-info .show-money img {
  width: 100%;
  max-width: 300px;
}
.auction-popup .auction-card-info .card-info .stations150, .auction-popup .auction-card-info .card-info .normal-card-stations, .auction-popup .auction-card-info .card-info .families-stations {
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px 20px;
  display: none;
}
.auction-popup .auction-card-info .card-info .stations150.active-card-auction, .auction-popup .auction-card-info .card-info .normal-card-stations.active-card-auction, .auction-popup .auction-card-info .card-info .families-stations.active-card-auction {
  display: block !important;
}
.auction-popup .auction-card-info .card-info .stations150 .price, .auction-popup .auction-card-info .card-info .stations150 .rent, .auction-popup .auction-card-info .card-info .stations150 .mortgage-value, .auction-popup .auction-card-info .card-info .stations150 .purchase-price, .auction-popup .auction-card-info .card-info .stations150 .rent-price, .auction-popup .auction-card-info .card-info .stations150 .rent-price-full-color, .auction-popup .auction-card-info .card-info .stations150 .rent-with-1-house,
.auction-popup .auction-card-info .card-info .stations150 .rent-with-2-house, .auction-popup .auction-card-info .card-info .stations150 .rent-with-3-house, .auction-popup .auction-card-info .card-info .stations150 .rent-with-4-house, .auction-popup .auction-card-info .card-info .stations150 .rent-with-1-hotel, .auction-popup .auction-card-info .card-info .stations150 .houses-cost, .auction-popup .auction-card-info .card-info .stations150 .hotel-cost, .auction-popup .auction-card-info .card-info .normal-card-stations .price, .auction-popup .auction-card-info .card-info .normal-card-stations .rent, .auction-popup .auction-card-info .card-info .normal-card-stations .mortgage-value, .auction-popup .auction-card-info .card-info .normal-card-stations .purchase-price, .auction-popup .auction-card-info .card-info .normal-card-stations .rent-price, .auction-popup .auction-card-info .card-info .normal-card-stations .rent-price-full-color, .auction-popup .auction-card-info .card-info .normal-card-stations .rent-with-1-house,
.auction-popup .auction-card-info .card-info .normal-card-stations .rent-with-2-house, .auction-popup .auction-card-info .card-info .normal-card-stations .rent-with-3-house, .auction-popup .auction-card-info .card-info .normal-card-stations .rent-with-4-house, .auction-popup .auction-card-info .card-info .normal-card-stations .rent-with-1-hotel, .auction-popup .auction-card-info .card-info .normal-card-stations .houses-cost, .auction-popup .auction-card-info .card-info .normal-card-stations .hotel-cost, .auction-popup .auction-card-info .card-info .families-stations .price, .auction-popup .auction-card-info .card-info .families-stations .rent, .auction-popup .auction-card-info .card-info .families-stations .mortgage-value, .auction-popup .auction-card-info .card-info .families-stations .purchase-price, .auction-popup .auction-card-info .card-info .families-stations .rent-price, .auction-popup .auction-card-info .card-info .families-stations .rent-price-full-color, .auction-popup .auction-card-info .card-info .families-stations .rent-with-1-house,
.auction-popup .auction-card-info .card-info .families-stations .rent-with-2-house, .auction-popup .auction-card-info .card-info .families-stations .rent-with-3-house, .auction-popup .auction-card-info .card-info .families-stations .rent-with-4-house, .auction-popup .auction-card-info .card-info .families-stations .rent-with-1-hotel, .auction-popup .auction-card-info .card-info .families-stations .houses-cost, .auction-popup .auction-card-info .card-info .families-stations .hotel-cost {
  display: flex;
  justify-content: space-between;
}
.auction-popup .auction-card-info .card-info .stations150 .two-stations, .auction-popup .auction-card-info .card-info .stations150 .three-stations, .auction-popup .auction-card-info .card-info .stations150 .four-stations, .auction-popup .auction-card-info .card-info .normal-card-stations .two-stations, .auction-popup .auction-card-info .card-info .normal-card-stations .three-stations, .auction-popup .auction-card-info .card-info .normal-card-stations .four-stations, .auction-popup .auction-card-info .card-info .families-stations .two-stations, .auction-popup .auction-card-info .card-info .families-stations .three-stations, .auction-popup .auction-card-info .card-info .families-stations .four-stations {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-top: 10px;
}
.auction-popup .auction-card-info .card-info .stations150 h4, .auction-popup .auction-card-info .card-info .normal-card-stations h4, .auction-popup .auction-card-info .card-info .families-stations h4 {
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}
.auction-popup .auction-players {
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 3px 3px 3px 4px #fff;
  background-color: rgba(0, 0, 0, 0.96);
}
.auction-popup .player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  pointer-events: none;
  visibility: hidden;
}
.auction-popup .player.active-player {
  pointer-events: all;
  visibility: visible;
}
.auction-popup .name {
  font-weight: bold;
  font-size: 40px;
}
.auction-popup .offer-more {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 10px;
}
.auction-popup .offer-more .plus100 {
  grid-column: 1/3;
}
.auction-popup .offer-more button {
  width: 100%;
  background-color: #fff;
  padding: 8px 0;
  font-size: 20px;
  border: 2px solid #fff;
}
.auction-popup .offered {
  font-size: 24px;
}
.auction-popup .max-money {
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=auction-popup.css.map */